<div class="container px-5 px-sm-0">

<h1>New book</h1>

<% if @book.errors.any? %>
    <%= @book.errors.count %>件のエラーが発生しました
    <ul>
        <% @book.errors.full_messages.each do |massage| %>
            <li><%= massage %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: @book do |f| %>

    <h4>Title</h4>
    <%= f.text_field :title %>
    
    <h4>Opinion</h4>
    <%= f.text_area :body %>
    <%= f.submit '投稿' %>
    
<% end %>
</div>